body{
  margin:0;
  padding: 0;
  background-color: #272b33;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
.navbar{
  position: fixed;
  top:0;
  width:100vw;
}
nav{
  display:flex;
  justify-content: space-around;
  background-color: #33393f;
  
}
nav div{
  display: flex;
  align-items: center;
}
nav .hamburger{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height:35px;
  width:35px;
  padding: 10px;
  margin:10px 0;

}
.hamburger div{
  position: relative;
  height:3px;
  width:25px;
  background-color: #ffffff;
  z-index: 1;
  transition: all ease-in-out 0.8s;
}
.hamburger div:nth-child(1){
  top:-4px;
}
.hamburger div:nth-child(3){
  top:4px;
}
.hamburger.active div:nth-child(1){
  top:3px;
  transform: rotate(45deg);
}
.hamburger.active div:nth-child(3){
  top:-3px;
  transform: rotate(315deg);
}
.hamburger.active div:nth-child(2){
  top:-1px;
  transform: rotate(45deg);
  visibility: hidden;
}
nav div ul{
  display:flex;
  list-style: none;
  margin: 0 5px;
}
nav div ul li a{
  margin:5px;
  color:#6e7376;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.85rem;
}
nav div div{
  height:60px;
  display: flex;
  align-items: center;
}
nav div div.search-div input{
  height:30px;
  width:150px;
  z-index: 1;
  outline: none;
  border:none;
  border-radius:5px;
}
div.search-div button{
  height:30px;
  margin-left: 5px;
  border-style: none;
  border-radius:5px;
  cursor: pointer;
}
.search-div{
  position: relative;
}
.search-div .searchresult{
  position: absolute;
  height:25px;
  z-index: 0;
  left:2px;
  top:45px;
  width:150px;
  border-radius: 2px;
  background-color: #202326;
  display: none;
}
a{
  text-decoration: none;
}
.search-container{
  background-color: #202326;
  color:white;
  width:140px;
  height:60px;
  padding:5px 5px;
 
}
.search-image img{
  height:40px;
  width: 25px;
}
.search-title{
  margin-left: 5px;
  font-size: 12px;
  text-decoration: none;
  overflow: hidden;
  
}
.search-div input:focus~ .searchresult{
  display: block;
}
.searchresult:hover{
  display: block;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:60px auto;
}

.container a{
  color:white;
  text-decoration: none;
}
.moviecontainer {
  display: flex;
  flex-direction: column;

  height:200px;
  width:150px;
  margin:35px 15px;
}
.moviecontainer img{
  height:180px;
  width: 150px;
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:40px 0;
}
.pagination button.number-button{
  border-style: none;
  margin:5px;
  height:25px;
  width:25px;
  border-radius: 5px;
  background-color: #6e7376;
}
.pagination button.main-button{
  border-style: none;
  margin:3px;
  height:25px;
  width:50px;
  border-radius: 5px;
  background-color: #6e7376;
}
/*Loader*/
.parent-loader{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
}
.loader{
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}
.loader div{
  width: 200px;
  height: 200px;
  border: 20px solid lightgray;
  border-top: 20px solid lightblue;
  border-radius: 50%;
  animation: loader 2s infinite linear;
}
@keyframes loader{
  100%{
      transform: rotate(360deg);
  }
}

/*Loader end*/
/* Movie Details Page */
section.first-part{
  height:50vh;
  margin:10px 30px;
  display: flex;
  background-color: #010a17;
  border-radius: 5px;
  margin-top: 80px;
  
}
.first-part .movie-details{
  display:flex;
  flex-direction: column;
  width:45vw;
  padding:10px;
}
.first-part .movie-details .poster-details {
  display:flex;
}
.movie-details .poster-details .singledetails{
  margin:0 5px;
}
.movie-details .poster-details .singledetails .singletitle{
  font-size: larger;
  font-weight: 500;
  margin:5px 0;
}
.singledetails .singlerating{
  color:#6c8eb4;
  font-size: 16px;
  margin:10px 0;
}
.first-part .movie-details .poster-details .singleposter img{
  height:20vh;
  object-fit: contain;
}
.singledetails .time-genre{
  margin: 10px 0;
  margin-bottom: 20px;
}
.singledetails .time-genre .time {
  border:1px solid #1f2e45;
  border-radius: 4px;
  padding:3px 2px;
  margin-right:4px;
}
.singledetails .time-genre .genre{
  color:#7b8c9f;
  font-weight: 500;
  text-overflow: clip;
}
.movie-details .overview-container {
  overflow: hidden;
  font-size:small;
  color: #c2cedf;
}
.movie-details .overview-container .overview-title {
  margin:10px 0;
  font-size: 19px;
  color:white;
} 
.first-part .movieimg img{
  height:50vh;
  width:45vw;
  object-fit: cover;
  border-radius: 5px;

}
section.cast-container{
  margin:5px;
  height: 60vh;
}
.cast-container .h3{
  font-weight: 500;
  font-size: 1.2rem;
  height:1.3rem;
  margin:0;
  padding: 0;
  margin-top:25px;
}
.cast-container .cast-details{
  display:flex;
  overflow-x: scroll;
  max-height: 50vh;
}
.cast-container .cast-details::-webkit-scrollbar{
  height:5px;
  border-radius: 5px;
  background-color: aliceblue;
  color: #010a17;
}
.cast-container .cast-details::-webkit-scrollbar-thumb{
  width:5px;
  background-color: #010a17;
}
.cast-details .cast{
  height:45vh;
  width:20vw;
  margin:0 10px;
  font-size: 0.75rem;
}
.cast .cast-pic img{
  height: 35vh;
  width:12vw;
  object-fit: contain;
}
.cast .cast-name {
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom:5px;
}

/* End Movie Details Page */
/*Responsiveness*/
@media screen and (max-width:800px){
  nav{
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: sticky;
  }
  nav .hamburger{
    display: flex;
  }
  nav .menu-component{
    display: flex;
    flex-direction: column;
    position: fixed;
    width:60vw;
    right:-60vw;
    top:75px;
    transition: all ease-in-out 0.8s;
  }
  .search-div{
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  nav .menu-component{
    z-index: 100;
    background-color: #272b33;
    height: 100vh;
    align-items: baseline;
  }
  nav ul{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
  }
  nav ul li{
    padding:10px 0;
  }
  .search-div .searchresult{
    top:65px;
  }
  nav .menu-component.active{
    right:0;
  }
  .container{
    margin: 0;
    width: 180px;
    height: 250px;
  }
  .movieimg{
    display: none;
  }
}
